/Enum_class/nbproject/private/
/Enum_class/build/
/Prueba_Temporizador/nbproject/private/
/Prueba_Temporizador/build/
/CreandoMarcos/nbproject/private/
/CreandoMarcos/build/
/Escribir_marco/nbproject/private/
/Escribir_marco/build/
/Ejercios/nbproject/private/
/Ejercios/build/
/Evento_interactuar/nbproject/private/
/Evento_interactuar/build/
/Evento_responder/nbproject/private/
/Eventoresponder/nbproject/private/
/Eventoresponder/build/
/Reto1/nbproject/private/
/Reto1/build/
/Evento_teclado/nbproject/private/
/Evento_teclado/build/
/Evento_mouse/nbproject/private/
/Evento_mouse/build/
/Foco_campotexto/nbproject/private/
/Foco_campotexto/build/
/Nombre_maria/nbproject/private/
/Nombre_maria/build/
/Reto2/nbproject/private/
/Reto2/build/
/Reto3/nbproject/private/
/Reto3/build/
/CalculadoraInterfaze/nbproject/private/
/CalculadoraInterfaze/build/
/Base_de_datos/nbproject/private/
/Base_de_datos/build/
/Aprender/nbproject/private/
/Reto4/nbproject/private/
/Reto4/build/
/Conexion/nbproject/private/
/Conexion/build/
/Aprender_2/nbproject/private/
/Aprender_2/build/
/Reto1_UIS/nbproject/private/
/Reto1_UIS/build/
/JavaApplication24/nbproject/private/
/Clase_poo/nbproject/private/
/Clase_poo/build/
/Solucion/nbproject/private/
/Solucion/build/
/Solucion/dist/
